<div class="container">
    <div class="basic-content_wrapper">
        <div class="basic-category-content_wrapper-text">
            <h1 class="basic-category-display_title title-basic">
                {{ section.settings.title }}
            </h1>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "General header",
    "tag": "section",
    "class": "general-header",
      "settings": [
    {
      "type": "header",
      "content": "Label"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Section label",
      "default": "A TRIBUTE TO WHERE WE COME FROM"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section title",
      "default": "A custom plate crafted for the way we eat",
      "info": "Wrap alternate font with <span>"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Section description",
      "default": "<p>Preserving texture, protecting flavour and honouring culture</p>"
    },
    {
      "type": "header",
      "content": "CTA Button"
    },
    {
      "type": "checkbox",
      "id": "enable_cta",
      "label": "Enable CTA",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
    }
  ]
}
{% endschema %}