<div class="basic container">
    <div class="basic-content_wrapper">
        <div class="basic-category-content_wrapper-text">
            <h1 class="basic-category-display_title title-basic">
                {{ page.title }}
            </h1>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "basic hero Section",
    "tag": "section",
    "class": "basic basic-hero section-full"
}
{% endschema %}