<div class="container">
    <div class="content-dsc">
        {{ page.content }}
    </div>
</div>
{% schema %}
    {
        "name": "section general dsc",
        "tag": "section",
        "class": "general-dsc"
    }
{% endschema %}