<div class="container">
    <div class="basic-content_wrapper">
        <div class="basic-category-content_wrapper-text">
            <h1 class="basic-category-display_title title-basic">
                {{ section.settings.title }}
            </h1>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "General header",
    "tag": "section",
    "class": "general-header"
}
{% endschema %}