<div class="container">
    <div class="basic-content_wrapper">
        <div class="basic-category-content_wrapper-text">
            <h1 class="basic-category-display_title title-basic">
                {{ section.settings.title }}
            </h1>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "General header",
    "tag": "section",
    "class": "general-header",
      "settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Section title",
      "default": "Privacy Policy"
    },
    {
      "type": "header",
      "content": "CTA Button"
    },
    {
      "type": "checkbox",
      "id": "enable_cta",
      "label": "Enable CTA",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
    }
  ]
}
{% endschema %}