{% style %}
  footer {
    background: url("{{ 'footer-bg.png' | asset_url }}") #132142;
  }
{% endstyle %}

<footer class="section">
  <div class="container">
    <div class="top">
      <div class="form">
        <p>Join our table to receive updates, campaign stories and more</p>
        <form action=""></form>
      </div>
      <div class="menu-group">
        <div class="menu">
          <div class="menu-label">[Products]</div>
          <a href=""> Everyday Plates </a>
          <a href=""> Cultural Plate </a>
          <a href=""> Holiday Plates </a>
          <a href=""> Porcelain Plates </a>
          <a href=""> The Artisan Series </a>
          <a href=""> Minimalist & Modern </a>
        </div>
        <div class="menu">
          <div class="menu-label">[Company]</div>
          <a href=""> About Us </a>
          <a href=""> Contact </a>
          <a href=""> Shipping </a>
          <a href=""> FAQ </a>
        </div>
        <div class="menu">
          <div class="menu-label">[Social]</div>
          <a href=""> Instagram </a>
          <a href=""> Facebook </a>
        </div>
      </div>
    </div>
    <div class="brand">Feenie's table</div>
    <div class="copy">
      <span> © 2025 Feenie's Table. | All Rights Reserved </span>
      <div>
        <a href=""> Terms & Conditions </a>
        <a href=""> Privacy Policy </a>
      </div>
    </div>
  </div>
</footer>
