<div class="container">
    <p>
        LAUNCHING SOON ON KICKSTARTER
    </p>
</div>

{% schema %}
{
  "name": "Info",
  "tag": "section",
  "class": "info",
  "settings": [
    {
      "type": "header",
      "content": "Label"
    },
  ],
  "presets": [
    {
      "name": "Info Section",
    }
  ]
}
{% endschema %}