
<div class="container --full">
  {% for a in (1..5) %}
    <div class="group">
      <img src="{{ 'running-logo.svg' | asset_url }}" height="80" alt="">
      <img src="{{ 'running-logo-2.svg' | asset_url }}" height="80" alt="">
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Running",
  "tag": "section",
  "class": "running",
  "settings": [
  ],
  "presets": [
    {
      "name": "Running Section",
    }
  ]
}
{% endschema %}
