{% style %}
.title-feature {
  color: var(--Text-Black-Primary, #332717);
  font-family: "Inter Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dsc-feature{
  color: var(--Text-Black-Primary, #332717);
  font-family: "Inter Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.feature-card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 64px 0
}
.feature-card_items {
  text-align: left;
}
.feature-card_items-img img {
  max-width: 100%;
  height: auto;
}
.feature-card_items-text h3 {
  margin: 10px 0 5px;
}
.feature-card_items-text p {
  margin: 0;
}
{% endstyle %}

<div class="container">
  <div class="feature-card_wrapper">
    {% for block in section.blocks %}
      <div class="feature-card_items">
        <div class="feature-card_items-img">
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.title | escape }}">
          {% endif %}
        </div>
        <div class="feature-card_items-text">
          <h3 class="title-feature">{{ block.settings.title }}</h3>
          <p class="dsc-feature">{{ block.settings.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Feature",
  "tag": "section",
  "class": "feature",
  "settings": [],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Feature Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Feature description goes here."
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Feature Section",
      "blocks": [
        { "type": "feature_item" },
        { "type": "feature_item" },
        { "type": "feature_item" },
        { "type": "feature_item" }
      ]
    }
  ]
}
{% endschema %}
