{% style %}
  .about .container .content {
    background: url({{ 'about-pattern.png' | asset_url }}) no-repeat;
    background-position: 40% 21%;
    background-size: 1216px;
  }
{% endstyle %}

<section class="about">
  <div class="container --wide">
    <img src="{{ 'about-cover.png' | asset_url }}" alt="">
    <div class="content">
      <span class="label">ABOUT US</span>
      <h2>
        The story behind the plate —
        <span> About Us </span>
      </h2>
      <p>
        Feenie’s Table is where design, culture, and story meet. What began with one plate — made to honour the way we really eat — is now a movement celebrating meals, rituals, and the people behind them. We design for every eating style, every table, every culture. For bread that stays warm, for sauces with their own space, for those who eat differently.
      </p>
      <p>
        We design for bold, textured meals. For hosts who lead with heart. For cultures too often left out of the design
        conversation. Every piece is made with intention — to be useful, to be beautiful, and to quietly reclaim
        space.This isn't just about what's on the table. It's about who's finally being seen at it.
      </p>
    </div>
  </div>
</section>
