<section class="representation">
  <div class="container">
    <span class="label">OUR STORIES, OUR SEAT</span>
    <h2>The —representation edit</h2>
  </div>
  <div class="container --full">
    <div class="slider">
      <div>
        <div class="slide">
          <div>
            <span>
              STORY TITLE —
            </span>
            <span>
              02
            </span>
            <a href="" class="btn">
              VIEW MORE
            </a>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, exercitation ullamco laboris do eiusmod tempor incididunt enim ad minim veniam, quis nostrud exercitation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Representation",
  "tag": "section",
  "class": "representation",
  "settings": [
  ],
  "presets": [
    {
      "name": "Representation Section",
    }
  ]
}
{% endschema %}
