<section class="running">
  <div class="container --full">
    <img src="assets/running-logo.svg" height="80" alt="">
    <img src="assets/running-logo.svg" height="80" alt="">
    <img src="assets/running-logo.svg" height="80" alt="">
    <img src="assets/running-logo.svg" height="80" alt="">
    <img src="assets/running-logo.svg" height="80" alt="">
    <img src="assets/running-logo.svg" height="80" alt="">
  </div>
</section>
