{% style %}
.title-feature{
    color: red;
}
{% endstyle %}

<div class="container">
  <div class="feature-card_wrapper">
    <div class="feature-card_items">
        <div class="feature-card_items-img">
        <img/>
        </div>
        <div class="feature-card_items-text">
          <h3 class="title-feature">hallo</h3>
          <h3 class="title-feature">world</h3>
        </div>
    </div>
  </div>

</div>

{% schema %}
{
  "name": "feature",
  "tag": "section",
  "class": "feature",
  "settings": [
  ],
  "presets": [
    {
      "name": "Feature Section",
    }
  ]
}
{% endschema %}
