{% style %}
.title-feature{
    color: red;
}
{% endstyle %}

<div class="container">
    <h1 class="title-feature">hallo</h1>
</div>

{% schema %}
{
  "name": "feature",
  "tag": "section",
  "class": "feature",
  "settings": [
  ],
  "presets": [
    {
      "name": "Feature Section",
    }
  ]
}
{% endschema %}
