<section class="representation">
  <div class="container">
    <span class="label">OUR STORIES, OUR SEAT</span>
    <h2>The —representation edit</h2>
  </div>
</section>

{% schema %}
{
  "name": "Representation",
  "tag": "section",
  "class": "representation",
  "settings": [
  ],
  "presets": [
    {
      "name": "Representation Section",
    }
  ]
}
{% endschema %}
