<nav class="section">
  <div class="container">
    <a href="">
      <img src="{{ 'nav-logo.png' | asset_url }}" alt="" class="nav-logo">
    </a>
    <div class="menu-group">
      <a href=""> Home </a>
      <a href=""> About </a>
      <a href=""> Shop </a>
      <a href=""> Contact </a>
    </div>
    <div class="right-group">
      <a href=""> login </a>
    </div>
  </div>
</nav>
