nav {
	padding-block: 24px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	transition: all 200ms ease-out;
}
nav.active {
	background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
	padding-block: 8px;
}

nav .container {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 990px) {
	nav .container {
		justify-content: space-between;
	}
}

nav .nav-logo {
	width: 138px;
	height: 56px;
	aspect-ratio: 69 / 28;
}

nav .menu-group {
	display: flex;
	align-items: center;
	gap: 48px;
	/* margin-right: 64px; */
	margin-left: auto;
}
@media only screen and (max-width: 990px) {
	nav .menu-group {
		display: none;
	}
}

nav .menu-group a {
	color: #fff;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
nav a:hover {
	text-decoration: underline;
}

nav .right-group {
	display: flex;
	align-items: center;
	gap: 16px;
}

nav .right-group a {
	color: #fff;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	padding: 10px;
}

.hero {
	color: #fff;
	text-align: center;
	padding-top: 504px;
	padding-bottom: 0px;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.hero {
		padding-top: 300px;
	}
}

.hero video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.hero .content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero .container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	z-index: 2;
	position: relative;
	justify-content: space-between;
}
@media only screen and (max-width: 990px) {
	.hero .container {
		flex-direction: column;
		align-items: flex-start;
	}
}

.hero .label {
	color: #ffe4ac;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.hero .slideLabel{
	flex-shrink: 0;
}

.hero .desc {
	color: rgba(255, 255, 255, 0.8);
	font-family: "Inter Display";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	text-align: left;
	margin: unset;
}

.hero a {
	margin-top: 48px;
}
@media only screen and (max-width: 990px) {
	.hero a{
		margin-top: 32px;
	}
}

.hero h1 {
	font-family: "Frank Ruhl Libre";
	font-size: 80px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	letter-spacing: -1.6px;
	max-width: 755px;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 24px;
}
@media only screen and (max-width: 990px) {
	.hero h1 {
		width: 100%;
		font-size: 72px;
		letter-spacing: -1px;
	}
}
@media only screen and (max-width: 480px) {
	.hero h1 {
		font-size: 64px;
		letter-spacing: -0.7px;
	}
}
.hero .container.second,
.hero .running {
	display: flex;
	align-items: center;
	gap: 32px;
	position: relative;
	margin-top: 64px;
	padding-block: 24px;
	z-index: 2;
}
.hero .container.second::before,
.hero .running::before {
	content: '';
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	height: 1px;
	border-top: 1px solid rgba(255, 255, 255, 0.20);
}
@media only screen and (min-width: 1441px) {
	.hero .container.second::before {
		left: calc( calc( 100vw - 1440px ) / -2 );
	}
}
@media only screen and (max-width: 990px) {
	.hero .container.second {
		gap: 12px;
		padding-inline: 24px;
	}
}
.hero .running > div{
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	animation: marquee 10s linear infinite;
	position: relative;
	padding-inline: 24px;
}
.hero .running > div::before{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
	position: absolute;
	left: 0;
}
.hero .container.second img {
	width: auto;
	object-fit: contain;
	flex-shrink: 0;
	padding: 18px;
	opacity: 0.8;
}
@media only screen and (max-width: 990px) {
	.hero .container.second img {
		padding-inline: 12px;
		/* height: 42px; */
	}
}

.running {
	padding-block: 24px;
}

.running .container {
	display: flex;
	align-items: center;
	gap: 32px;
	overflow: hidden;
}
@media only screen and (max-width: 990px) {
	.running .container {
		gap: 0px;
		padding-inline: 24px;
	}
}

/* .running .group:not(.--mobile){
	display: flex;
	align-items: center;
	gap: 32px;
	flex-shrink: 0;
	animation: marquee 5s linear infinite;
}
.running .group.--mobile{
	display: none;
} */
/* @media only screen and (max-width: 990px) {
	.running .group:not(.--mobile){
		animation: unset;
		display: none;
	}
	.running .group.--mobile{
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
		align-items: flex-start;
	}
} */

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc( -100% - 32px ));
  }
}

.running img {
	width: auto;
	object-fit: contain;
	flex-shrink: 0;
	padding: 24px 25px;
	opacity: 0.5;
}
@media only screen and (max-width: 990px) {
	.running img {
		padding: unset;
		height: 28px;
	}
}

.about .container {
	display: flex;
	align-items: stretch;
	overflow: auto;
}
@media only screen and (max-width: 990px) {
	.about .container {
		padding-block: 64px;
		flex-direction: column-reverse;
		padding-inline: 20px !important;
		gap: 40px;
	}
}

.about .container .cover {
	flex: 1;
	height: auto;
	object-fit: cover;
	aspect-ratio: 3 / 4;
	max-width: 50%;
}
@media only screen and (max-width: 990px) {
	.about .container .cover {
		max-width: 100%;
	}
}

.about .container .content {
	flex: 1;
	padding-inline: 64px;
	padding-block: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 710px;
}
@media only screen and (max-width: 990px) {
	.about .container .content {
		padding-inline: 0px;
	}
}

.about .container .content .label {
	color: #332717;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.about .container .content h2 {
	color: #332717;
	font-family: "Inter Display";
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1.6px;
	margin-top: 24px;
	margin-bottom: 145px;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.about .container .content h2 {
		font-size: 64px;
		margin-bottom: 64px;
		letter-spacing: -1.3px;
	}
}
@media only screen and (max-width: 480px) {
	.about .container .content h2 {
		font-size: 56px;
		letter-spacing: -1.12px;
	}
}

.about .container .content h2 span {
	color: #e1a423;
	text-align: center;
	font-family: Farmhouse;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	position: absolute;
	width: fit-content;
	right: 0;
	bottom: -83px;
}
@media only screen and (max-width: 990px) {
	.about .container .content h2 span {
		font-size: 94px;
		bottom: -42px;
	}
}
@media only screen and (max-width: 480px) {
	.about .container .content h2 span {
		font-size: 64px;
		bottom: -48px;
	}
}

.about .container .content .desc {
	color: #332717;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.about .container .content .desc p{
	margin-bottom: 16px;
	padding-right: 32px;
}
@media only screen and (max-width: 990px) {
	.about .container .content .desc p{
		padding-right: 0;
	}
}

.products {
	padding-block: 100px;
	background-color: white;
}
@media only screen and (max-width: 990px) {
	.products {
		padding-block: 64px;
	}
}

.products .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 141px;
}
@media only screen and (max-width: 990px) {
	.products .head {
		margin-bottom: 70px;
	}
}

.products .head .left {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.products .head a {
	display: block;
}
@media only screen and (max-width: 990px) {
	.products .head a {
		display: none;
	}
}

.products .head .label {
	color: #332717;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.products .head h2 {
	color: #332717;
	font-family: "Inter Display";
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1.6px;
	position: relative;
	max-width: 662px;
}
@media only screen and (max-width: 990px) {
	.products .head h2 {
		font-size: 64px;
		letter-spacing: -1.3px;
	}
}
@media only screen and (max-width: 480px) {
	.products .head h2 {
		font-size: 56px;
		letter-spacing: -1.12px;
	}
}

.products .head h2 span {
	color: #e1a423;
	text-align: center;
	font-family: Farmhouse;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	position: absolute;
	width: fit-content;
	right: -320px;
	bottom: -80px;
}
@media only screen and (max-width: 990px) {
	.products .head h2 span {
		font-size: 62px;
		bottom: -58px;
		right: 0;
	}
}
@media only screen and (max-width: 480px) {
	.products .head h2 span {
		font-size: 54px;
		bottom: -44px;
		right: 0;
	}
}

.products .content {
	display: grid;
}
@media only screen and (max-width: 990px) {
	.products .content {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}
@media only screen and (max-width: 480px) {
	.products .content {
		display: flex;
		overflow: auto;
		/* margin-left: -20px; */
		width: auto !important;
		/* padding-inline: 20px; */
	}
}

.products .content .card {
	padding: 24px;
	padding-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 24px;
	background-color: rgba(245, 239, 232, 0);
	transition: all 300ms ease-out;
}
@media only screen and (max-width: 480px) {
	.products .content .card {
		flex-shrink: 0;
	}
}

.products .content .card:hover {
	background-color: rgba(245, 239, 232, 1);
	transition-delay: 100ms;
}

.products .content .card img {
	width: 100%;
	height: auto;
	object-fit: contain;
	aspect-ratio: 1 / 1;
	padding-inline: 40px;
	transition: all 200ms ease-out;
}

.products .content .card:hover img {
	transform: scale(1.1);
}

.products .content .card .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.products .content .card .info h3 {
	color: #332717;
	font-family: "Inter Display";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}

.products .content .card .info p {
	color: #332717;
	font-family: "Inter Display";
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.products .content .card .btn,
.products .content .card .btn.--disable {
	width: 100%;
	opacity: 0 ;
	transition: all 200ms ease-in-out;
	transition-delay: 50ms;
}
@media only screen and (max-width: 990px) {
	.products .content .card .btn,
	.products .content .card .btn.--disable {
		opacity: 1;
	}
}
.products .content .card:hover .btn:not(.--disable) {
	opacity: 1;
}
.products .content .card:hover .btn.--disable {
	opacity: 0.5 !important;
}

.representation {
	padding-block: 100px;
	background-color: #f5efe8;
}
@media only screen and (max-width: 990px) {
	.representation {
		padding-block: 64px;
	}
}

.representation .label {
	color: #332717;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.representation h2 {
	color: #332717;
	font-family: "Inter Display";
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1.6px;
	margin-top: 24px;
	margin-bottom: 145px;
	position: relative;
	max-width: 644px;
}
@media only screen and (max-width: 990px) {
	.representation h2 {
		font-size: 62px;
		letter-spacing: -1.3px;
		margin-bottom: 42px;
	}
}
@media only screen and (max-width: 480px) {
	.representation h2 {
		font-size: 54px;
		letter-spacing: -1.12px;
	}
}

.representation .slide{
	width: 800px;
	margin-inline: 28px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media only screen and (max-width: 990px) {
	.representation .slide{
		width: 320px;
	}
}

.representation .floater{
	position: absolute;
	z-index: 5;
	width: calc( 100% - calc( 24px * 2 ) );
	bottom: 24px;
	left: 24px;
	display: flex;
    gap: 40px;
	align-items: flex-end;
}
@media only screen and (max-width: 990px) {
	.representation .floater{
		gap: 20px;
	}
}
.representation .slide p{
	color: white;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	/* width: 95%; */
	/* margin-inline: auto; */
}
@media only screen and (max-width: 990px) {
	.representation .slide p{
		/* width: 100%; */
		font-size: 14px;
		/* text-align: center; */
	}
}

.representation .slide .content{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 600px;
    margin-inline: auto;
    height: 500px;
	background: lightgrey;
	align-items: center;
	overflow: hidden;
	transition: all 200ms linear;
	transition-delay: 100ms;
}
.representation .slide .content::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0%;
	transition: all 200ms ease-out;
	background: linear-gradient(180deg, rgba(51, 39, 23, 0.00) 0%, #332717 125.11%);
}
@media only screen and (max-width: 990px) {
	.representation .slide .content{
		max-width: 300px;
		height: 300px;
	}
}

.representation .slide .content .play-control{
	/* position: absolute; */
	/* z-index: 5; */
	width: 64px;
	height: 64px;
	/* bottom: 24px; */
	/* left: 24px; */
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
	backdrop-filter: blur(6px);
	border: 1px solid transparent;
	cursor: pointer;
}
.representation .slide .content .play-control:hover{
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid white;
}

.representation .slide .content .play-control #pause,
.representation .slide.active .content .play-control #play{
	display: none;
}
.representation .slide.active .content .play-control #pause,
.representation .slide .content .play-control #play{
	display: block;
}

.representation .slide .content video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.representation .content .btn{
	position: absolute;
	bottom: 24px;
	right: 24px;
	transform: translateY(20%);
	opacity: 0;
	transition: all 250ms ease-out;
}
.representation .content:hover .btn{
	transform: translateY(0%);
	opacity: 1;
}


.representation h3{
	color: #E1A423;
	text-align: center;
	font-family: Farmhouse;
	font-size: 250px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	opacity: 0;
	position: absolute;
	top: -100px;
	transform: scale(0.5);
	transition: all 400ms ease-in-out;
	transition-delay: 200ms;
}
@media only screen and (max-width: 990px) {
	.representation h3{
		top: -40px;
		font-size: 110px;
	}
}
@media only screen and (max-width: 480px) {
	.representation h3{
		font-size: 80px;
	}
}
.representation .content h3{
	color: white;
}

.representation .content .top{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 24px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #FFF;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	text-transform: uppercase;
}

.representation .slider-nav{
	display: flex;
	justify-content: flex-start;
	position: relative;
	align-items: center;
}
@media only screen and (max-width: 990px) {
	.representation .slider-nav{
		justify-content: center;
		gap: 8px;
		margin-top: 32px;
	}
}

.representation .slider-nav.--right{
	justify-content: flex-end;
}
@media only screen and (max-width: 990px) {
	.representation .slider-nav.--right{
		display: none;
	}
}
.representation .slider-nav button {
	display: flex;
	width: 64px;
	height: 64px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 40px;
	border: 1px solid rgba(38, 21, 12, 0.2);
	cursor: pointer;
	background: rgba(38, 21, 12, 0);
	position: relative;
	z-index: 4;
}

.representation .slider-nav .slider-right {
	margin-bottom: -64px;
    top: -80px;
	left: -17px;
}
.representation .slider-nav .slider-right.--mobile{
	visibility: hidden;
}
@media only screen and (max-width: 990px) {
	.representation .slider-nav .slider-right.--mobile{
		visibility: visible;
		position: relative;
		bottom: unset;
		left: unset;
		margin: unset;
		top: unset;
	}
}
.representation .slider-nav .slider-left {
	margin-top: -64px;
    bottom: -24px;
	right: -17px;
}
@media only screen and (max-width: 990px) {
	.representation .slider-nav .slider-left {
		position: relative;
		top: unset;
		right: unset;
		margin: unset;
		bottom: unset;
	}
}

.representation .slider-nav button:hover {
	background: rgba(38, 21, 12, 0.08);
}

.founder {
	padding-block: 100px;
	color: white;
}
@media only screen and (max-width: 990px) {
	.founder {
		padding-block: 64px;
	}
}

.founder .label {
	color: #fff;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.founder h2 {
	color: #fff;
	font-family: "Inter Display";
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1.6px;
	margin-top: 24px;
	margin-bottom: 81px;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.founder h2 {
		font-size: 62px;
		letter-spacing: -1.3px;
	}
}
@media only screen and (max-width: 480px) {
	.founder h2 {
		font-size: 54px;
		letter-spacing: -1.12px;
	}
}

.founder h2 span:first-child {
	max-width: 382px;
	position: relative;
	display: block;
}

.founder h2 span:last-child {
	display: block;
	color: #fff;
	font-family: Farmhouse;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	position: relative;
	margin-top: 143px;
	margin-left: auto;
	width: fit-content;
}
@media only screen and (max-width: 990px) {
	.founder h2 span:last-child {
		font-size: 64px;
	}
}
@media only screen and (max-width: 480px) {
	.founder h2 span:last-child {
		margin-top: 220px;
	}
}

.founder .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media only screen and (max-width: 990px) {
	.founder .bottom {
		flex-direction: column;
		gap: 40px;
	}
}

.founder .bottom .desc {
	color: #fff;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	max-width: 328px;
}
@media only screen and (max-width: 990px) {
	.founder .bottom .desc {
		width: 100%;
		max-width: 100%;
	}
}

.founder .bottom .wrap {
	display: flex;
	align-items: center;
	gap: 8px;
}
@media only screen and (max-width: 990px) {
	.founder .bottom .wrap {
		justify-content: space-between;
		width: 100%;
	}
	.founder .bottom .wrap a{
		flex: 1;
	}
}

.founder .bottom .wrap button {
	display: flex;
	width: 64px;
	height: 64px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 40px;
	background: rgba(255, 255, 255, 1);
	backdrop-filter: blur(6px);
	cursor: pointer;
}
@media only screen and (max-width: 990px) {
	.founder .bottom .wrap button {
		width: 54px;
		height: 54px;
	}
}

.founder .bottom .wrap button:hover {
	background: rgba(255, 255, 255, 0.80);
}

.testimonial {
	background: white;
	padding-block: 100px;
}
@media only screen and (max-width: 990px) {
	.testimonial {
		padding-block: 64px;
	}
	.testimonial .container.--full{
		padding-inline: 20px;
	}
}

.testimonial .label {
	color: #332717;
	font-family: "Inter Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.testimonial h2 {
	color: #332717;
	font-family: "Inter Display";
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -1.6px;
	max-width: 577px;
	position: relative;
	margin-top: 24px;
	margin-bottom: 80px;
}
@media only screen and (max-width: 990px) {
	.testimonial h2 {
		font-size: 64px;
		letter-spacing: -1.3px;
		margin-bottom: 110px;
	}
}
@media only screen and (max-width: 480px) {
	.testimonial h2 {
		font-size: 54px;
		letter-spacing: -1.12px;
	}
}

.testimonial h2 span {
	color: #e1a423;
	font-family: Farmhouse;
	font-size: 120px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	position: absolute;
	bottom: -30px;
	right: -386px;
}
@media only screen and (max-width: 990px) {
	.testimonial h2 span {
		right: 0;
		bottom: -55px;
		font-size: 64px;
	}
}

.testimonial .slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 64px;
}

.testimonial .slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	width: 760px;
	margin-inline: 60px;
}
@media only screen and (max-width: 990px) {
	.testimonial .slide {
		width: 100%;
		margin-inline: 0;
	}
}

.testimonial .slide .stars {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.testimonial .slide p {
	color: #332717;
	text-align: center;
	font-family: "Inter Display";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}
@media only screen and (max-width: 990px) {
	.testimonial .slide p {
		font-size: 24px;
	}
}

.testimonial .slide .user {
	display: flex;
	align-items: center;
	gap: 16px;
}

.testimonial .slide .user img {
	width: 64px;
	height: 64px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	object-fit: cover;
}

.testimonial .slide .user div {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: rgba(51, 39, 23, 0.8);
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}

.testimonial .slide .user div .name {
	color: #332717;
	font-size: 18px;
	font-weight: 500;
}

.testimonial .slider-nav {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-inline: auto;
	justify-self: center;
	width: fit-content;
}

.testimonial .slider-nav button {
	display: flex;
	width: 64px;
	height: 64px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 40px;
	border: 1px solid rgba(38, 21, 12, 0.2);
	cursor: pointer;
	background: rgba(38, 21, 12, 0);
}

.testimonial .slider-nav button:hover {
	background: rgba(38, 21, 12, 0.08);
}

footer {
	padding-block: 64px;
	color: white;
}

footer .top {
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 990px) {
	footer .top {
		flex-direction: column;
		align-items: center;
		gap: 42px;
	}
}

footer .top .form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

footer .top .form p {
	max-width: 284px;
	font-family: "Inter Display";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}

footer .top .menu-group {
	display: flex;
	gap: 110px;
}
@media only screen and (max-width: 990px) {
	footer .top .menu-group {
		flex-direction: column;
		gap: 40px;
	}
}

footer .top .menu {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: #fff;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}
@media only screen and (max-width: 990px) {
	footer .top .menu {
		align-items: center;
	}
}

footer .top .menu .menu-label {
	color: rgba(255, 255, 255, 0.6);
	font-family: "Inter Display";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	margin-bottom: 4px;
}

footer .brand {
	margin-top: 120px;
	width: 100%;
	font-family: Farmhouse;
	font-size: 200px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	background: linear-gradient(
		92deg,
		#cd8b00 -2.13%,
		#fcf6c6 19.1%,
		#e5c266 50.97%,
		#fcf6c6 73.46%,
		#cd8b00 94.12%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1280px) {
	footer .brand {
		font-size: 180px;
	}
}
@media only screen and (max-width: 1180px) {
	footer .brand {
		font-size: 160px;
	}
}
@media only screen and (max-width: 1024px) {
	footer .brand {
		font-size: 140px;
	}
}
@media only screen and (max-width: 990px) {
	footer .brand {
		font-size: 54px;
	}
}

footer .copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgba(255, 255, 255, 0.6);
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}
@media only screen and (max-width: 990px) {
	footer .copy {
		font-size: 14px;
		flex-direction: column;
		gap: 24px;
	}
}

footer .copy div:last-child {
	display: flex;
	align-items: center;
	gap: 32px;
}

footer .newsletter:not(form){
	display: flex;
	padding: 8px 8px 8px 24px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.50);
	background: #132142;
}
footer .newsletter form{
	display: flex;
	align-items: center;
}
footer input[type='email']{
	color: rgba(255, 255, 255, 0.60);
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%; /* 20.8px */
	border: unset;
	background: unset;
	appearance: none;
}
footer input[type='email']:focus{
	outline: none;
}
footer button{
	display: flex;
	height: 56px;
	padding: 0 28px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 40px;
	background: #FFF;
	color: #332717;
	font-family: "Inter Display";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	cursor: pointer;
}